[general]
accounts = test
maxsyncaccounts = 1
maxconnections = 1
ui = ttyui
socktimeout = 90
pythonfile = ~/.offlineimap.py

[Account test]
localrepository = test-local
remoterepository = test-remote
synclabels = no
labelsheader = X-Keywords

[Repository test-remote]
type = Gmail
remoteuser = email@test.com
remotepasseval = fetch_pass('Provider/email@test.com')
nametrans = lambda folder: nametrans_google_in.get(folder, folder)
folderfilter = folderfilter_google
sslcacertfile = /etc/ssl/certs/ca-certificates.crt

[Repository test-local]
type = GmailMaildir
localfolders = /Mail/email@test.com
nametrans = lambda folder: nametrans_google_out.get(folder, folder)
